* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  width: 100%;
  height: 892px;
  background-image: url(/Assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
nav {
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  text-decoration: none;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:nth-child(2) {
  margin-right: auto;
}

/* ---------Sidebar Start------- */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80vh;
  width: 180px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.205);
  backdrop-filter: blur(10px);
  border-bottom-right-radius: 10px;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.6));
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar a {
  width: 90%;
}

.sidebar a:hover {
  background-color: #f0f0f05b;
}

.MenuBtn {
  display: none;
}

.hideOnMobile {
  display: inline;
}


@media screen and (max-width: 600px) {
  .hideOnMobile {
    display: none;
  }
  .MenuBtn {
    display: block;
  }

}